flask
gunicorn
requests
beautifulsoup4
pytz
asyncio
yt-dlp
tgcrypto
cloudscraper
aiohttp
pyrogram==2.0.106
pytube
cryptography
m3u8
pycryptodome
aiofiles


attrs
blinker
certifi
cffi
charset-normalizer
click
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
packaging
propache
pycparser
pymodm
pyparsing
requests-toolbelt
soupsieve
typing_extensions
urllib3
Werkzeug
